.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  text-transform: none;
  margin: 133px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-family: "Work Sans";
  font-size: 2.25rem;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: "Work Sans";
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 5.208333333333334rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.166666666666667rem;
    margin-top: 113px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 218px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }
} .u-section-2 {
  background-image: none;
  --color-var: #ddf0fa;
}

.u-section-2 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 986px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 405px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Work Sans";
  margin: 20px 186px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 997px;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 86px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 49px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 248px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 195px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1091px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1216px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -314px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1014px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 625px;
  margin-top: 389px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-text-1 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 64px auto 0 32px;
}

.u-section-3 .u-text-3 {
  font-family: "Work Sans";
  margin: 31px 191px 60px 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 169px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 627px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 63px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1301px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.34375rem;
    margin-right: 86px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 987px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 867px;
}

.u-section-4 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-4 .u-text-1 {
  font-family: "Work Sans";
  margin: 0 35px;
}

.u-section-4 .u-text-2 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 104px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 595px;
  margin: 11px auto 0 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 8px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 8px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 822px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 55px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 55px;
    margin-right: 422px;
    margin-left: 416px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 874px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-4 .u-text-2 {
    width: 102px;
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 64px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 876px;
  }

  .u-section-4 .u-text-2 {
    width: 108px;
    margin-top: 115px;
    margin-left: 216px;
    margin-right: 222px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 969px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 114px;
    margin-left: 116px;
    margin-right: 122px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 945px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 260px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 603px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 581px auto 0 133px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 603px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 65px 422px 0 88px;
}

.u-section-5 .u-text-3 {
  font-family: "Work Sans";
  margin: 36px 211px 0 87px;
}

.u-section-5 .u-gallery-1 {
  height: 738px;
  width: 340px;
  margin: -775px auto 60px 14px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 262px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 250px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 76px;
    margin-left: 88px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -777px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 568px;
    margin-top: 142px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-5 .u-text-1 {
    margin: 552px auto -69px -32px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 79px;
    margin-right: 176px;
    margin-left: 18px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 26px;
    margin-right: 2px;
    margin-left: 15px;
  }

  .u-section-5 .u-gallery-1 {
    height: 602px;
    width: 289px;
    margin-top: -565px;
    margin-left: 26px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5 .u-text-1 {
    margin-top: 224px;
    margin-bottom: 0;
    margin-left: 94px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
    min-height: 478px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 170px;
    margin-right: 105px;
    margin-left: 306px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 16px;
    margin-bottom: -120px;
    margin-left: 306px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -894px;
    margin-left: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 235px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 480px;
    margin-right: 181px;
    margin-left: 25px;
  }

  .u-section-5 .u-text-3 {
    margin: 8px 25px -356px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -848px;
    margin-left: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 3px;
  }
}