.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  text-transform: none;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: "Work Sans";
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 5.208333333333334rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 4.166666666666667rem;
    margin-top: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 218px;
  }
} .u-section-2 {
  background-image: none;
  --color-var: #ddf0fa;
}

.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 862px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 405px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Work Sans";
  margin: 32px 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -71px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 711px;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 49px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 195px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-2 .u-image-1 {
    height: 120px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 714px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 534px;
  background-image: url("images/image-min.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 534px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 51px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "Work Sans";
  margin: 40px 0 0 162px;
}

.u-section-3 .u-text-3 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 10px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-3 .u-image-1 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-image-1 {
    min-height: 632px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-3 .u-image-1 {
    min-height: 398px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.34375rem;
    width: auto;
    margin-top: 62px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -568px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 863px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 470px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-family: "Work Sans";
  margin: 0 70px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 470px;
  background-image: url("images/image2-min.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 11px 0 37px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -55px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-4 .u-image-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 15px;
    margin-left: -15px;
  }

  .u-section-4 .u-image-1 {
    min-height: 297px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 668px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 382px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 421px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 72px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 638px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 576px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  filter: none;
  width: 334px;
  height: 533px;
  margin: 43px 0 -30px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 576px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Fugaz One";
  margin: 121px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "Work Sans";
  margin: 40px 0 0 238px;
}

.u-section-5 .u-text-3 {
  font-family: "Work Sans";
  font-size: 1.25rem;
  margin: 0 auto 40px 162px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 475px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    inset: auto;
    width: 313px;
    height: 500px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-5 .u-image-1 {
    width: 240px;
    height: 383px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -17px;
    margin-bottom: 57px;
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 819px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 31px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 516px;
    order: 1;
  }

  .u-section-5 .u-image-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: -118px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}